
*.axf
*.mk
*.su
*.d
*.o
*.xml
*.log
*.map
*.ld
*.version
*.tree
*.index
*.prefs
*.xmi
TPFworkspace/frdmk64f_uart_interrupt/Debug/makefile
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.lock
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.cdt.core/preferences
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.jdt.core/index.db
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
TPFworkspace/sensores/workspace/sensoresMedicos/.metadata/version.ini
